html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0%;
}
.first-image,.second-image,.third-image{
    background-position: center ;
    background-size: cover ;
    opacity: 1;
    background-attachment: fixed;    /* MAIN APPLICATION IN PARALLEX*/
}

.first-image{
    background-image:url(img/1.jpg) ;
    min-height: 500px;
}
.second-image{
    background-image:url(img/2.jpg) ;
    min-height: 500px;
}
.third-image{
    background-image:url(img/3.jpg) ;
    min-height: 500px;
}
section{
    text-align: center;
    padding: 3rem 5rem;
}
.section-light{
     background-color: aliceblue;
     color: #000;
}
.section-dark{
     background-color: beige;
     color: #000;
}

.image{
    position: relative;;
}
.image div{
    position:absolute;
    top:50%;
    width: 100% ;
    text-align: center;
    color: white;
    font-size: 30px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.first-image span {
    color: white;
    background-color: #222121;
    padding: 20px;

}